.layoutPanel {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #fff;
  margin: 0 10px;
  box-sizing: border-box;

  .droppableContainer {
    width: 100%;
    height: 500px;
  }
}

.itemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.active {
  border: 2px solid #1890ff;
}
