.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: #fafafa;
  box-sizing: border-box;

  .droppableContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
}
